.header {
    background: $midnight-green;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    color: white;
    background: none;
    border: none;
    text-decoration: none;
    transition: color .3s ease;
    outline: none;

    &:hover {
        color: hsla(0, 0, 100%, 0.5);
        text-decoration: none;
    }

    &:focus {
        border: none;
        outline: none;
    }
}

.header__pause-button {
    height: 40px;
    width: auto;
    color: white;
    transition: color .3s ease;

    &:hover {
        color: hsla(0, 0, 100%, 0.5);
    }
}