.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: $s-size;
}

.list-item-enter {
    opacity: 0;
}

.list-item-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.list-item-exit {
    opacity: 1;
}

.list-item-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}