.list {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: $s-size;

    &-offset {
        @extend .list;
        margin-top: 96px;
    };
}

.list-item-enter {
    opacity: 0;
}

.list-item-enter-active {
    opacity: 0.5;
    transition: opacity 300ms ease-in;
}

.list-item-exit {
    opacity: 0.5;
}

.list-item-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}