.post {
    width: 80%;
    border: none;
    box-shadow: 0 2px 4px 0 hsla(0, 0, 0, 0.2);
    margin-bottom: $s-size;
    transition: opacity 300ms ease-in;
    height: 200px;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: .8rem;
}

.post__image {
    width: 90%;
    height: auto;
}

.post__count {
    grid-row: span 2;
    place-self: center;
    display: flex;
    align-items: center;
}

.post__title {
    color: $midnight-green;
    grid-column: 4 / span 4;
    justify-self: left;
    align-self: center;
}

.post__image-box {
    height: 150px;
    width: 150px;
    border: 2px solid $off-white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
}

.post__placeholder {
    background: $off-white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post__placeholder__icon {
    height: 80px;
    width: 80px;
}

.post__image-a {
    color: white;
    place-self: center;
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    
    &:hover {
        text-decoration: none;
        color: white;
    }
}

.post__placeholder-text {
    font-size: 140%;
    font-weight: 500;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.post__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: left;
    padding-top: $s-size;
    grid-column: 4 / span 2;
    grid-row: 2;
    place-self: center;
}

.post__time-block {
    display: flex;
    align-items: center;
}

.post__reddit {
    grid-row: 2;
    grid-column: 7;
    place-self: end;
    transition: color 0.3s ease;
}

.post__reddit-icon {
    font-size: 40px;
    color: hsla(0, 0, 0, 0.2);
    transition: color 0.3s ease;

    &:hover {
        color: hsla(0, 0, 0, 0.5);
    }
}

.expired {
    opacity: 0.5;
}